.profilePic {
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin-bottom: 60px;
}

.name {
  font-family: 'Lato-Regular', sans-serif;
  position: absolute;
  height: 500px;
  width: auto;
  margin-left: 300px;
  font-size: 85px;
  color: white;
}

.titles {
  font-family: 'Lato-Light', sans-serif;
  font-size: 32px;
  color: white;
}

.written {
  font-family: 'Lato-Light', sans-serif;
  color: white;
}

.codeLogos {}

.logo {
  max-width: 90px;
  max-height: 60px;
  width: auto;
  height: auto;
  margin: 0px 20px;
  opacity: 40%;
}

.react {
  width: 190px;
  height: 160px;
}