.profilePic {
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin-bottom: 60px;

}

.name {
  position: absolute;
  height: 500px;
  width: auto;
  margin-left: 300px;
  font-size: 85px;
  color: white;
}

.titles {
  position: absolute;
  width: auto;
  bottom: 220px;
  font-size: 32px;
  color: white;
}

.written {
  position: absolute;
  bottom: 105px;
  color: white;
}

.codeLogos {
  position: absolute;
  bottom: 30px;
  width: 1400px;
}

.logo {
  max-width: 90px;
  max-height: 60px;
  width: auto;
  height: auto;
  margin: 0px 20px;
  opacity: 40%;
}

.react {
  width: 190px;
  height: 160px;
}