.experiencePage {
  position: absolute;
  top: 43px;
  width: 86%;
  color: white;
}

.resumeHeader {
  font-family: "Lato-regular";
}

.horizontalLine {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 10px -4px;
  margin-top: -5px;
}


.details {
  width: 90%;
  color: black;
}

.skillsBody {
  margin: 20px 10px;
  font-family: "Lato-thin";
}

.skillsLine {
  margin-bottom: 5px;
}

.educationBody {
  margin: 20px 10px;
}

/* .employmentBody {
  margin: 15px 10px;
} */

.bodyHeaader {
  font-family: "Lato-light";
}

.dates {
  font-family: "Lato-thin";
}

.bodyHeaader2 {
  font-family: "Lato-thin";
  margin-left: 10px;
}

.drafter {
  margin-top: 5px;
}

.details {
  font-family: "Lato-thin";
  color: white;
  margin: 10px 0px;
  width: 830px;
  margin-left: 10px;
}

.desDetails {
  font-family: "Lato-thin";
  margin-left: 20px;
  line-height: 30px;
}

.bootcamp {
  font-family: "Lato-thin";
}