.interestsContainer {
  max-height: 100%;
}

.containerWood {
  position: relative;
  bottom: 150px;
  left: 50px;
}

.containerArch {
  position: relative;
  bottom: 330px;
  left: 50px;
}

.containerSketch {
  position: relative;
  bottom: 460px;
  left: 50px;
}

.images {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: 0 10px;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.imgCategory {
  position: relative;
  top: 210px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 16px;
  color: white;
  letter-spacing: -2px;
}