.campingLogo {
  max-width: 350px;
  max-height: 450px;
  width: auto;
  height: auto;
  margin: 0px 60px;
}

.aframeLogo {
  max-width: 350px;
  max-height: 450px;
  width: auto;
  height: auto;
  margin: 0px 60px;
  opacity: 70%;

}

.inProgress {
  font-family: 'Lato-Regular', sans-serif;
  position: relative;
  bottom: 250px;
  font-size: 60px;
  transform: rotate(-55deg);
}