.campingLogo {
  max-width: 320px;
  max-height: 420px;
  width: auto;
  height: auto;
  margin: 0px 60px;
}

.aframeLogo {
  max-width: 325px;
  max-height: 425px;
  width: auto;
  height: auto;
  margin: 0px 60px;
  opacity: 70%;

}

.inProgress {
  font-family: 'Lato-Regular', sans-serif;
  position: relative;
  bottom: 250px;
  font-size: 60px;
  transform: rotate(-55deg);
}

/* ------ MOBILE STYLING ---------- */


@media (max-width: 768px) {

  .logoContainerContent {
    height: 80vh;
    overflow-y: hidden;
  }

  .campingLogo {
    margin-bottom: 40px;
    max-width: 180px;
    max-height: 260px;
  }

  .aframeLogo {
    max-width: 180px;
    max-height: 260px;
  }

  .inProgress {
    bottom: 155px;
    font-size: 40px;
  }
}